Repository sachajw/career-pollinate-assessment: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

pipelines/azure-pipelines-app.yml:
  name: FinRisk-App-CI-CD-$(Date:yyyyMMdd-HHmm)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build & Test
    jobs:
    - job: Test
      pool: Default
      steps:
      - checkout: self
        fetchDepth: 1
        clean: false
      - script: 'echo "##vso[task.prependpath]/opt/homebrew/opt/python@3.13/bin"
  
  ...

pipelines/azure-pipelines-infra-script.yml:
  name: FinRisk-IaC-Terraform-Script-$(Date:yyyyMMdd-HHmm)$(Rev:.r)
  stages:
  - stage: Plan
    displayName: Terraform Plan
    jobs:
    - job: TerraformPlan
      pool: Default
      steps:
      - checkout: self
        fetchDepth: 1
        clean: false
      - bash: 'set -e
  
  ...

pipelines/azure-pipelines-infra.yml:
  name: FinRisk-IaC-Terraform-$(Date:yyyyMMdd-HHmm)$(Rev:.r)
  stages:
  - stage: Plan
    displayName: Terraform Plan
    jobs:
    - job: TerraformPlan
      pool: Default
      steps:
      - checkout: self
        fetchDepth: 1
        clean: false
      - script: 'echo "Branch: $(Build.SourceBranch)"
  
  ...

ci: add tfsec security scanner to infrastructure pipeline
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-infra.yml

fix: use script-based tfsec instead of extension task
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-infra.yml

fix: improve tfsec output path handling and debugging
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-infra.yml

feat: implement branch-based environment targeting in pipelines
  pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

fix: use correct variable group names for dev/prod environments
  pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

docs: update variable groups and environment targeting documentation
  README.md
  pipelines/README-APP-API.md
  pipelines/README-IAC-TF.md
  terraform/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

fix: remove main branch from pipeline triggers
  pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

fix: update infra pipeline to use correct variable group name
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-infra.yml

fix: revert to finrisk-iac-tf-dev variable group
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-infra.yml

fix: update environment names to match Azure DevOps
  pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

fix: remove unused variable groups from app pipeline
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

docs: add pipeline architecture and workflow guide
  pipelines/HOW-IT-WORKS.md
Due: none

docs: update pipeline comments with current configuration
  pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

docs: consolidate pipeline documentation
  pipelines/HOW-IT-WORKS.md
  pipelines/README.md
  pipelines/RUN-GUIDE.md
  pipelines/TROUBLESHOOTING.md
Due: none

docs: align pipeline documentation with technical assessment
  pipelines/README-APP-API.md
  pipelines/README-IAC-TF.md
  pipelines/test-infra-pipeline.sh
Due: none

docs: consolidate all pipeline docs into single README.md
  pipelines/README-APP-API.md
  pipelines/README-IAC-TF.md
  pipelines/README.md
Due: none

docs: update Terraform module READMEs to AzureRM 4.0
  terraform/README.md
  terraform/modules/container-app/README.md
  terraform/modules/container-registry/README.md
  terraform/modules/key-vault/README.md
  terraform/modules/networking/README.md
  terraform/modules/observability/README.md
  terraform/modules/private-endpoints/README.md
  terraform/modules/resource-group/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

docs: update ADR-006 with AzureRM 4.0 and 7 modules
  documentation/adr/006-terraform-module-architecture.md
Due: none

docs: update main README with 7 modules
  README.md
Due: none

docs: streamline README to align with technical assessment
  README.md
Due: none

♻️ CHORE: update dependencies
  terraform/.terraform.lock.hcl
  terraform/environments/prod/.grok/settings.json
  terraform/modules/container-app/.terraform.lock.hcl
  terraform/modules/container-registry/.terraform.lock.hcl
  terraform/modules/container-registry/README.md
  terraform/modules/key-vault/.terraform.lock.hcl
  terraform/modules/key-vault/README.md
  terraform/modules/networking/.terraform.lock.hcl
  terraform/modules/networking/README.md
  terraform/modules/observability/.terraform.lock.hcl
  terraform/modules/observability/README.md
  terraform/modules/private-endpoints/.terraform.lock.hcl
  terraform/modules/private-endpoints/README.md
  terraform/modules/resource-group/.terraform.lock.hcl
  terraform/modules/resource-group/README.md
  terraform/modules/resource-group/examples/complete/.terraform.lock.hcl
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

♻️ CHORE: update gitignore
  .gitignore
  app/.gitignore
Due: pipelines/azure-pipelines-app.yml

📚 DOC: add API documentation endpoints
  README.md
Due: none

📚 DOC: add interview preparation guide and update CLAUDE.md
  CLAUDE.md
  INTERVIEW_PREP.md
Due: none

📚 DOC: add Container Apps vs App Service deep dive
  INTERVIEW_PREP.md
Due: none

📚 DOC: add AKS consideration thresholds
  INTERVIEW_PREP.md
Due: none

♻️ CHORE: fix markdown formatting in interview prep
  INTERVIEW_PREP.md
Due: none

📚 DOC: add type safety explanation
  INTERVIEW_PREP.md
Due: none

📚 DOC: clarify type safety vs input validation
  INTERVIEW_PREP.md
Due: none

📚 DOC: simplify type safety explanation
  INTERVIEW_PREP.md
Due: none

📚 DOC: simplify container image explanation
  INTERVIEW_PREP.md
Due: none

📚 DOC: add Python scaling strategies for 100k req/min
  INTERVIEW_PREP.md
Due: none

📚 DOC: add asynchronous explanation
  INTERVIEW_PREP.md
Due: none

🐛 FIX: correct App Service scaling limit
  INTERVIEW_PREP.md
Due: none

📚 DOC: reframe for production-ready requirement
  INTERVIEW_PREP.md
Due: none

📚 DOC: add event-driven scaling and Dapr explanations
  INTERVIEW_PREP.md
Due: none

📚 DOC: condense interview prep document (~40% smaller)
  INTERVIEW_PREP.md
Due: none

Path conditions:
  pipelines/azure-pipelines-app.yml: any of: app, pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra-script.yml: any of: terraform, pipelines/azure-pipelines-infra-script.yml
  pipelines/azure-pipelines-infra.yml: any of: terraform, pipelines/azure-pipelines-infra.yml
