Repository sachajw/career-pollinate-assessment: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

Path conditions:
  pipelines/azure-pipelines-app.yml: any of: app, pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml: any of: terraform, pipelines/azure-pipelines-infra.yml

fix: correct Trivy task input format (kebab-case)
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: correct Trivy task inputs per official documentation
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: add continueOnError for Trivy vulnerability findings
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: show all vulnerabilities in Trivy report
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

docs: update README-APP-API with SBOM and Trivy configuration
  pipelines/README-APP-API.md
Due: none

fix: use docker driver for buildx to inherit ACR credentials
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: force recreate buildx builder with docker driver
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: add fresh az acr login before buildx build
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: use default builder with docker driver for credential access
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: switch to default Docker context instead of --builder flag
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: use ACR admin credentials for Docker login
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: use ACR token directly with Docker login
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: simplify Docker build - rely on Docker@2 task for auth
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: use AzureCLI task with explicit OrbStack Docker path
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: add buildx setup inside AzureCLI task
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: set DOCKER_CONFIG for buildx plugin discovery
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: restore working build configuration from a1d7e53
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: add dockerImagesToScan for accurate SBOM generation
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: use Python for cross-platform millisecond timing
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: set Trivy exitCode to 0 to prevent task warning
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: use numeric exitCode and add continueOnError fallback
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: try exit-code with hyphen for Trivy extension
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: pull Docker image before SBOM scan
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: remove Docker image scan from SBOM (AMD64/ARM64 mismatch)
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: align SBOM config with official example
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

📚 DOC: update security tools config
  pipelines/README-APP-API.md
Due: none

test: trigger infrastructure pipeline with dry run validation
  PIPELINE_RUN_GUIDE.md
  TEST_STATUS.md
  pipelines/DRY_RUN_RESULTS.md
  pipelines/test-infra-pipeline.sh
  terraform/TESTING.md
  terraform/environments/dev/PIPELINE_RUN.md
  terraform/tests/run-tests.sh
Due: pipelines/azure-pipelines-infra.yml

fix: grant storage account permissions for Terraform backend
  FIX_STORAGE_PERMISSIONS.md
  INSTALL_TERRAFORM_EXTENSION.md
  PIPELINE_FIX.md
  pipelines/azure-pipelines-infra-script.yml
  terraform/environments/dev/PIPELINE_RUN.md
Due: pipelines/azure-pipelines-infra.yml

fix: add Contributor role for storage account listKeys permission
  terraform/environments/dev/PIPELINE_RUN.md
Due: pipelines/azure-pipelines-infra.yml

docs: add Terraform bootstrap prerequisites documentation
  terraform/BOOTSTRAP.md
Due: pipelines/azure-pipelines-infra.yml

docs: add manual approval gate setup guide
  APPROVAL_GATE_SETUP.md
Due: none

chore: trigger pipeline with full permissions
  terraform/environments/dev/PIPELINE_RUN.md
Due: pipelines/azure-pipelines-infra.yml

📚 DOC: add pipeline monitoring guide
  PIPELINE_MONITORING.md
Due: none

✨ FEATURE: add custom domain certificate setup
  .gitignore
  CERTIFICATE_SETUP.md
  documentation/guides/custom-domain-certificate-setup.md
  scripts/README.md
  scripts/deploy-with-certificate.sh
  scripts/setup-custom-certificate.sh
  scripts/upload-certificate.sh
  terraform/environments/dev/.terraform.lock.hcl
  terraform/environments/dev/DNS_CONFIGURATION.md
  terraform/environments/dev/main.tf
  terraform/environments/dev/variables.tf
  terraform/modules/container-app/main.tf
  terraform/modules/container-app/outputs.tf
  terraform/modules/container-app/variables.tf
Due: pipelines/azure-pipelines-infra.yml

📚 DOC: add custom domain quick reference guide
  QUICK_REFERENCE.md
  documentation/guides/custom-domain-step-by-step.md
Due: none

📚 DOC: align documentation with actual codebase implementation
  documentation/TERRAFORM_IMPLEMENTATION.md
  documentation/api/API_SPECIFICATION.md
  documentation/architecture/ARCHITECTURE_SUMMARY.md
  documentation/architecture/adr/001-azure-container-apps.md
  documentation/architecture/solution-architecture.md
  documentation/code-review-fastapi.md
  documentation/runbooks/OPERATIONS_RUNBOOK.md
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

📦 REFACTOR: consolidate custom domain setup documentation
  CERTIFICATE_SETUP.md
  CLAUDE.md
  FIX_STORAGE_PERMISSIONS.md
  QUICK_REFERENCE.md
  README.md
  TEST_BUILDX.md
  app/TEST_BUILDX.txt
  documentation/TERRAFORM_IMPLEMENTATION.md
  documentation/TERRAFORM_IMPROVEMENTS.md
  documentation/archive/CONTAINER_TEST_RESULTS.md
  documentation/archive/DEPLOYMENT_LOG.md
  documentation/archive/DEPLOYMENT_SUMMARY.md
  documentation/archive/DOCKER_BUILD_TEST.md
  documentation/archive/DRY_RUN_RESULTS.md
  documentation/archive/FIXES_SUMMARY.md
  documentation/archive/README.md
  documentation/archive/TEST_STATUS.md
  documentation/azure-tenant-info.md
  documentation/guides/approval-gates.md
  documentation/guides/custom-domain-certificate-setup.md
  documentation/guides/custom-domain-step-by-step.md
  documentation/guides/custom-domain.md
  pipelines/MONITORING.md
  pipelines/RUN-GUIDE.md
  pipelines/TROUBLESHOOTING.md
  scripts/README.md
  terraform/BOOTSTRAP.md
  terraform/DEVOPS-SETUP.md
  terraform/README.md
  terraform/TESTING.md
  terraform/modules/container-app/README.md
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

📦 REFACTOR: remove architecture summary
  CLAUDE.md
  README.md
  documentation/architecture/ARCHITECTURE_SUMMARY.md
  documentation/architecture/DECISION_LOG.md
  documentation/architecture/README.md
  documentation/architecture/adr/001-azure-container-apps.md
  documentation/architecture/adr/002-python-runtime.md
  documentation/architecture/adr/003-managed-identity-security.md
  documentation/architecture/adr/README.md
  documentation/architecture/architecture-diagram.md
  documentation/architecture/solution-architecture.md
Due: none

✨ FEATURE: align ADRs and implementation with technical assessment
  app/pyproject.toml
  app/src/core/middleware.py
  app/src/main.py
  app/src/services/riskshield.py
  app/tests/integration/test_api.py
  app/uv.lock
  documentation/architecture/adr/002-python-runtime.md
  documentation/architecture/adr/003-managed-identity-security.md
  documentation/architecture/adr/004-python-version-analysis.md
  documentation/architecture/adr/005-docker-container-strategy.md
  documentation/architecture/adr/006-terraform-module-architecture.md
  documentation/architecture/adr/007-cicd-pipeline-strategy.md
  documentation/architecture/adr/README.md
Due: pipelines/azure-pipelines-app.yml

📦 REFACTOR: move ADR directory to documentation/adr
  documentation/adr/001-azure-container-apps.md
  documentation/adr/002-python-runtime.md
  documentation/adr/003-managed-identity-security.md
  documentation/adr/005-docker-container-strategy.md
  documentation/adr/006-terraform-module-architecture.md
  documentation/adr/007-cicd-pipeline-strategy.md
  documentation/adr/README.md
Due: none
