Repository sachajw/career-pollinate-assessment: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

pipelines/azure-pipelines-app.yml:
  name: FinRisk-App-CI-CD-$(Date:yyyyMMdd-HHmm)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build & Test
    jobs:
    - job: Test
      pool: Default
      steps:
      - checkout: self
        fetchDepth: 1
        clean: false
      - script: 'echo "##vso[task.prependpath]/opt/homebrew/opt/python@3.13/bin"
  
  ...

pipelines/azure-pipelines-infra-script.yml:
  name: FinRisk-IaC-Terraform-Script-$(Date:yyyyMMdd-HHmm)$(Rev:.r)
  stages:
  - stage: Plan
    displayName: Terraform Plan
    jobs:
    - job: TerraformPlan
      pool: Default
      steps:
      - checkout: self
        fetchDepth: 1
        clean: false
      - bash: 'set -e
  
  ...

pipelines/azure-pipelines-infra.yml:
  stages:
  - stage: Plan
    displayName: Terraform Plan
    jobs:
    - job: TerraformPlan
      pool: Default
      steps:
      - checkout: self
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: $(terraformVersion)
      - task: TerraformTaskV4@4
        displayName: Terraform Init
  ...

📚 DOC: update ADR path in CLAUDE.md
  CLAUDE.md
Due: none

✨ FEATURE: add production environment Terraform configuration
  terraform/environments/prod/README.md
  terraform/environments/prod/backend.hcl.example
  terraform/environments/prod/backend.tf
  terraform/environments/prod/main.tf
  terraform/environments/prod/outputs.tf
  terraform/environments/prod/providers.tf
  terraform/environments/prod/terraform.tfvars.example
  terraform/environments/prod/variables.tf
  terraform/environments/prod/versions.tf
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

✨ FEATURE: add Terraform state bootstrap script
  scripts/bootstrap-terraform-state.sh
  terraform/environments/prod/backend.hcl.example
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📚 DOC: update bootstrap documentation with step-by-step guide
  scripts/README.md
  terraform/README.md
  terraform/environments/prod/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📦 REFACTOR: consolidate scripts into terraform/scripts with dev/prod separation
  documentation/guides/custom-domain.md
  scripts/README.md
  terraform/README.md
  terraform/scripts/README.md
  terraform/scripts/bootstrap-terraform-state.sh
  terraform/scripts/dev/deploy-with-certificate.sh
  terraform/scripts/dev/upload-certificate.sh
  terraform/scripts/preflight-check.sh
  terraform/scripts/prod/deploy-with-certificate.sh
  terraform/scripts/prod/upload-certificate.sh
  terraform/scripts/setup-custom-certificate.sh
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📚 DOC: remove redundant documentation
  README.md
  documentation/ASSESSMENT_COMPLIANCE_REPORT.md
  documentation/INFRASTRUCTURE_QUICK_REFERENCE.md
  documentation/archive/CONTAINER_TEST_RESULTS.md
  documentation/archive/DEPLOYMENT_LOG.md
  documentation/archive/DEPLOYMENT_SUMMARY.md
  documentation/archive/DOCKER_BUILD_TEST.md
  documentation/archive/DRY_RUN_RESULTS.md
  documentation/archive/FIXES_SUMMARY.md
  documentation/archive/README.md
  documentation/archive/TEST_STATUS.md
  documentation/code-review-fastapi.md
  documentation/guides/approval-gates.md
  documentation/guides/custom-domain.md
  documentation/runbooks/OPERATIONS_RUNBOOK.md
  terraform/scripts/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📚 DOC: remove operations runbook (moved to backup)
  README.md
  documentation/runbooks/OPERATIONS_RUNBOOK.md
  terraform/scripts/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📚 DOC: remove API documentation (moved to backup)
  CLAUDE.md
  README.md
  documentation/api/API_SPECIFICATION.md
  documentation/api/DEVELOPER_GUIDE.md
Due: none

📚 DOC: update terraform tests README to include run-tests.sh
  terraform/tests/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📚 DOC: fix README inaccuracies
  README.md
Due: none

📚 DOC: fix azure-devops module README
  terraform/modules/azure-devops/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📚 DOC: update container-app module README with all 50+ variables
  terraform/modules/container-app/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

♻️ REFACTOR: remove over-engineered Terraform features
  terraform/devops/backend.hcl.example
  terraform/devops/main.tf
  terraform/devops/outputs.tf
  terraform/devops/setup.sh
  terraform/devops/terraform.tfvars.example
  terraform/devops/variables.tf
  terraform/devops/versions.tf
  terraform/modules/azure-devops/README.md
  terraform/modules/azure-devops/main.tf
  terraform/modules/azure-devops/outputs.tf
  terraform/modules/azure-devops/variables.tf
  terraform/modules/container-app/README.md
  terraform/modules/container-app/main.tf
  terraform/modules/container-app/variables.tf
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📚 DOC: remove azure-devops and devops from directory structure
  terraform/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

♻️ CHORE: remove azure pipeline script
  pipelines/azure-pipelines-infra-script.yml
  terraform/environments/dev/DNS_CONFIGURATION.md
  terraform/environments/dev/Makefile
  terraform/environments/dev/PIPELINE_RUN.md
  terraform/environments/dev/README.md
  terraform/environments/prod/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

🔧 FEAT: add branch-based environment deployment (dev/main)
  pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra-script.yml
  pipelines/azure-pipelines-infra.yml
  terraform/environments/dev/DNS_CONFIGURATION.md
  terraform/environments/dev/PIPELINE_RUN.md
  terraform/environments/dev/README.md
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/prod/terraform.tfvars.example
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📝 DOC: document prod environment and Azure quota limits
  terraform/environments/prod/README.md
  terraform/environments/prod/variables.tf
  terraform/modules/resource-group/variables.tf
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📚 DOC: consolidate and update documentation
  README.md
  documentation/architecture/solution-architecture.md
  terraform/BOOTSTRAP.md
  terraform/DEVOPS-SETUP.md
  terraform/README.md
  terraform/TESTING.md
  terraform/environments/dev/README.md
  terraform/environments/prod/README.md
  terraform/scripts/README.md
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📚 DOC: add requirements traceability matrix to main README
  README.md
Due: none

🔧 CHORE: update Taskfile with current deployment config
  Taskfile.yml
Due: none

✨ FEAT: add Azure DevOps pipeline tasks to Taskfile
  Taskfile.yml
Due: none

✨ FEAT: add missing tasks aligned with technical assessment
  Taskfile.yml
Due: none

🔥 REFACTOR: remove terraform/scripts, consolidate into Taskfile
  Taskfile.yml
  terraform/scripts/README.md
  terraform/scripts/bootstrap-terraform-state.sh
  terraform/scripts/dev/deploy-with-certificate.sh
  terraform/scripts/dev/upload-certificate.sh
  terraform/scripts/preflight-check.sh
  terraform/scripts/prod/deploy-with-certificate.sh
  terraform/scripts/prod/upload-certificate.sh
  terraform/scripts/setup-custom-certificate.sh
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

📚 DOC: add Taskfile guide documentation
  taskfile-guide.md
Due: none

📚 DOC: add Taskfile guide to documentation table
  README.md
Due: none

🔧 FIX: simplify variable group reference in pipelines
  pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

🔧 FIX: remove all conditional syntax from pipelines
  pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

🔧 FIX: use OrbStack docker with az acr login for buildx
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

📚 DOC: add build status badge
  pipelines/README.md
Due: none

fix: wire RiskShield API call and implement Key Vault secret retrieval
  app/src/api/v1/routes.py
  app/src/core/config.py
  app/src/core/secrets.py
  app/src/services/riskshield.py
  app/tests/unit/test_config.py
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: make PublishCodeCoverageResults non-blocking in pipeline
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: resolve medium severity audit findings
  README.md
  app/src/api/v1/routes.py
  app/src/services/riskshield.py
Due: pipelines/azure-pipelines-app.yml

feat: implement three bonus security enhancements
  documentation/adr/008-bonus-security-enhancements.md
  documentation/adr/README.md
  terraform/environments/dev/.terraform.lock.hcl
  terraform/environments/dev/main.tf
  terraform/environments/dev/variables.tf
  terraform/modules/container-app/main.tf
  terraform/modules/container-app/variables.tf
  terraform/modules/container-app/versions.tf
  terraform/modules/networking/README.md
  terraform/modules/networking/main.tf
  terraform/modules/networking/outputs.tf
  terraform/modules/networking/variables.tf
  terraform/modules/networking/versions.tf
  terraform/modules/private-endpoints/README.md
  terraform/modules/private-endpoints/main.tf
  terraform/modules/private-endpoints/outputs.tf
  terraform/modules/private-endpoints/variables.tf
  terraform/modules/private-endpoints/versions.tf
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

ci: re-trigger pipeline with agent online
  terraform/environments/dev/.grok/settings.json
  terraform/environments/dev/variables.tf
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

fix: add -reconfigure to terraform init for backend state migration
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-infra.yml

fix: remove -reconfigure from Apply stage to prevent stale plan
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-infra.yml

fix: use Terraform 1.5.5 to match local version and fix state compatibility
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-infra.yml

docs: clarify private_endpoint_network_policies deprecation handling
  terraform/modules/networking/main.tf
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

feat: upgrade AzureRM provider from 3.x to 4.x
  terraform/environments/dev/.terraform.lock.hcl
  terraform/environments/dev/versions.tf
  terraform/environments/prod/.terraform.lock.hcl
  terraform/environments/prod/versions.tf
  terraform/modules/container-app/versions.tf
  terraform/modules/container-registry/main.tf
  terraform/modules/container-registry/versions.tf
  terraform/modules/key-vault/main.tf
  terraform/modules/key-vault/versions.tf
  terraform/modules/networking/main.tf
  terraform/modules/networking/versions.tf
  terraform/modules/observability/versions.tf
  terraform/modules/private-endpoints/versions.tf
  terraform/modules/resource-group/versions.tf
Due: pipelines/azure-pipelines-infra-script.yml, pipelines/azure-pipelines-infra.yml

Path conditions:
  pipelines/azure-pipelines-app.yml: any of: app, pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra-script.yml: any of: terraform, pipelines/azure-pipelines-infra-script.yml
  pipelines/azure-pipelines-infra.yml: any of: terraform, pipelines/azure-pipelines-infra.yml
