Repository sachajw/career-pollinate-assessment: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

Path conditions:
  pipelines/azure-pipelines-app.yml: any of: app, pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml: any of: terraform, pipelines/azure-pipelines-infra.yml

fix: use system Python instead of UsePythonVersion task
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: install dev dependencies with --extra dev flag
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: align test fixtures with actual implementation
  app/src/main.py
  app/tests/conftest.py
Due: pipelines/azure-pipelines-app.yml

fix: rewrite tests to match actual implementation
  app/tests/integration/test_api.py
  app/tests/unit/test_config.py
  app/tests/unit/test_models.py
Due: pipelines/azure-pipelines-app.yml

fix: remove unused files and add bandit to dev dependencies
  app/pyproject.toml
  app/src/models/schemas.py
  app/src/services/riskshield_client.py
Due: pipelines/azure-pipelines-app.yml

chore: configure ruff and bandit to ignore non-critical checks
  app/pyproject.toml
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: add AS production to Dockerfile final stage
  app/Dockerfile
Due: pipelines/azure-pipelines-app.yml

fix: build Docker image for linux/amd64 platform
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: use Docker buildx for cross-platform AMD64 builds
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: use OrbStack docker path for buildx
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: use absolute path to OrbStack docker for buildx
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

♻️ CHORE: add debug logging for Docker setup
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

test: trigger buildx test with updated agent PATH
  TEST_BUILDX.md
Due: none

test: trigger pipeline with updated agent PATH configuration
  app/TEST_BUILDX.txt
Due: pipelines/azure-pipelines-app.yml

test: verify buildx with fresh agent restart
  TEST_BUILDX.md
Due: none

test: trigger app pipeline buildx test
  app/TEST_BUILDX.txt
Due: pipelines/azure-pipelines-app.yml

debug: add verbose error handling to buildx setup
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: properly prepend Docker path using task.prependpath command
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

debug: add comprehensive error checking to build step
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: use explicit OrbStack Docker path for buildx build
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: set DOCKER_CONFIG and HOME for buildx plugin discovery
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

test: add validate API endpoint to smoke tests
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

docs: comprehensive update of pipeline README with buildx setup
  pipelines/README.md
Due: none

chore: optimize checkout and add pipeline names
  pipelines/README.md
  pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

docs: add Azure DevOps pipeline names to README
  pipelines/README.md
Due: none

feat: semantic versioning from git tags + Terraform drift handling
  pipelines/README.md
  pipelines/azure-pipelines-app.yml
  terraform/modules/container-app/main.tf
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

docs: reorganize pipeline documentation into dedicated files
  pipelines/README-APP-API.md
  pipelines/README-IAC-TF.md
  pipelines/README.md
  terraform/README.md
Due: pipelines/azure-pipelines-infra.yml

docs: trigger pipeline to test semantic versioning
  pipelines/README.md
Due: none

fix: pass imageTag variable between stages using output variables
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: set imageTag as both regular and output variable
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

chore: add datetime timestamp to pipeline names
  pipelines/azure-pipelines-app.yml
  pipelines/azure-pipelines-infra.yml
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

fix: use artifact to pass imageTag between stages
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

chore: echo app URL in smoke tests for visibility
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

chore: improve smoke test logging for visibility
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

feat: enhance endpoint verification with content validation
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

fix: correct readiness probe JSON field validation
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

feat: enhance validate API verification with detailed output
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

feat: use Trivy Azure DevOps extension for security scanning
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

docs: document Trivy extension requirement in README
  pipelines/README-APP-API.md
Due: none

feat: add SBOM generation for supply chain security
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml
